--
-- PostgreSQL database dump
--

-- Dumped from database version 15.4 (Debian 15.4-2.pgdg120+1)
-- Dumped by pg_dump version 15.4 (Debian 15.4-2.pgdg120+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: vector; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS vector WITH SCHEMA public;


--
-- Name: EXTENSION vector; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION vector IS 'vector data type and ivfflat and hnsw access methods';


--
-- Name: researchsphere_activity_kind; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.researchsphere_activity_kind AS ENUM (
    'VIEW',
    'DOWNLOAD'
);


ALTER TYPE public.researchsphere_activity_kind OWNER TO postgres;

--
-- Name: researchsphere_category_kind; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.researchsphere_category_kind AS ENUM (
    'RESEARCH_AREA',
    'PAPER_TYPE'
);


ALTER TYPE public.researchsphere_category_kind OWNER TO postgres;

--
-- Name: researchsphere_paper_status; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.researchsphere_paper_status AS ENUM (
    'PENDING_REVIEW',
    'APPROVED',
    'REJECTED',
    'REVISION_REQUIRED'
);


ALTER TYPE public.researchsphere_paper_status OWNER TO postgres;

--
-- Name: researchsphere_review_status; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.researchsphere_review_status AS ENUM (
    'APPROVED',
    'REJECTED',
    'REVISION_REQUIRED'
);


ALTER TYPE public.researchsphere_review_status OWNER TO postgres;

--
-- Name: researchsphere_user_role; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.researchsphere_user_role AS ENUM (
    'STUDENT',
    'REVIEWER',
    'ADMIN'
);


ALTER TYPE public.researchsphere_user_role OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: researchsphere_bookmarks; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.researchsphere_bookmarks (
    id character varying NOT NULL,
    user_id character varying NOT NULL,
    paper_id character varying NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.researchsphere_bookmarks OWNER TO postgres;

--
-- Name: researchsphere_categories; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.researchsphere_categories (
    id character varying NOT NULL,
    kind public.researchsphere_category_kind NOT NULL,
    name text NOT NULL
);


ALTER TABLE public.researchsphere_categories OWNER TO postgres;

--
-- Name: researchsphere_collection_bookmarks; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.researchsphere_collection_bookmarks (
    id character varying NOT NULL,
    collection_id character varying NOT NULL,
    bookmark_id character varying NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.researchsphere_collection_bookmarks OWNER TO postgres;

--
-- Name: researchsphere_collections; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.researchsphere_collections (
    id character varying NOT NULL,
    user_id character varying NOT NULL,
    name character varying NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.researchsphere_collections OWNER TO postgres;

--
-- Name: researchsphere_departments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.researchsphere_departments (
    id character varying NOT NULL,
    name text NOT NULL,
    code character varying(16) NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.researchsphere_departments OWNER TO postgres;

--
-- Name: researchsphere_paper_activity; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.researchsphere_paper_activity (
    id character varying NOT NULL,
    paper_id character varying NOT NULL,
    user_id character varying,
    kind public.researchsphere_activity_kind NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.researchsphere_paper_activity OWNER TO postgres;

--
-- Name: researchsphere_paper_citations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.researchsphere_paper_citations (
    id character varying(255) NOT NULL,
    citing_paper_id character varying(255) NOT NULL,
    cited_paper_id character varying(255),
    raw_reference_text text NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.researchsphere_paper_citations OWNER TO postgres;

--
-- Name: researchsphere_paper_comments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.researchsphere_paper_comments (
    id character varying NOT NULL,
    paper_id character varying NOT NULL,
    user_id character varying NOT NULL,
    content text NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.researchsphere_paper_comments OWNER TO postgres;

--
-- Name: researchsphere_paper_contents; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.researchsphere_paper_contents (
    id character varying NOT NULL,
    paper_version_id character varying NOT NULL,
    extracted_text text NOT NULL,
    extraction_status character varying DEFAULT 'PENDING'::character varying NOT NULL
);


ALTER TABLE public.researchsphere_paper_contents OWNER TO postgres;

--
-- Name: researchsphere_paper_embeddings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.researchsphere_paper_embeddings (
    id character varying NOT NULL,
    paper_version_id character varying NOT NULL,
    embedding public.vector(768) NOT NULL,
    model_name character varying NOT NULL,
    model_version character varying NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.researchsphere_paper_embeddings OWNER TO postgres;

--
-- Name: researchsphere_paper_versions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.researchsphere_paper_versions (
    id character varying NOT NULL,
    paper_id character varying NOT NULL,
    version_number integer NOT NULL,
    object_path text,
    file_hash character varying(64),
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.researchsphere_paper_versions OWNER TO postgres;

--
-- Name: researchsphere_papers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.researchsphere_papers (
    id character varying NOT NULL,
    title text NOT NULL,
    abstract text NOT NULL,
    year integer NOT NULL,
    department_id character varying NOT NULL,
    research_area text NOT NULL,
    paper_type text NOT NULL,
    doi text,
    object_path text,
    file_hash character varying(64),
    keywords jsonb DEFAULT '[]'::jsonb NOT NULL,
    status public.researchsphere_paper_status DEFAULT 'PENDING_REVIEW'::public.researchsphere_paper_status NOT NULL,
    uploaded_by_id character varying NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    reading_time integer,
    complexity character varying(255),
    rejection_reason text
);


ALTER TABLE public.researchsphere_papers OWNER TO postgres;

--
-- Name: researchsphere_reviews; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.researchsphere_reviews (
    id character varying NOT NULL,
    paper_id character varying NOT NULL,
    reviewer_id character varying NOT NULL,
    status public.researchsphere_review_status NOT NULL,
    comments text NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.researchsphere_reviews OWNER TO postgres;

--
-- Name: researchsphere_uploads; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.researchsphere_uploads (
    id character varying NOT NULL,
    user_id character varying NOT NULL,
    object_path text NOT NULL,
    file_name text NOT NULL,
    size integer NOT NULL,
    content_type character varying(128) NOT NULL,
    file_hash character varying(64),
    paper_id character varying,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.researchsphere_uploads OWNER TO postgres;

--
-- Name: researchsphere_user_profiles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.researchsphere_user_profiles (
    id character varying NOT NULL,
    user_id character varying NOT NULL,
    role public.researchsphere_user_role DEFAULT 'STUDENT'::public.researchsphere_user_role NOT NULL,
    department_id character varying,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.researchsphere_user_profiles OWNER TO postgres;

--
-- Name: sessions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.sessions (
    sid character varying NOT NULL,
    sess jsonb NOT NULL,
    expire timestamp without time zone NOT NULL
);


ALTER TABLE public.sessions OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id character varying DEFAULT gen_random_uuid() NOT NULL,
    email character varying,
    first_name character varying,
    last_name character varying,
    password_hash character varying,
    profile_image_url character varying,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    is_suspended boolean DEFAULT false NOT NULL,
    suspension_reason character varying
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: researchsphere_bookmarks researchsphere_bookmarks_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.researchsphere_bookmarks
    ADD CONSTRAINT researchsphere_bookmarks_pkey PRIMARY KEY (id);


--
-- Name: researchsphere_categories researchsphere_categories_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.researchsphere_categories
    ADD CONSTRAINT researchsphere_categories_pkey PRIMARY KEY (id);


--
-- Name: researchsphere_collection_bookmarks researchsphere_collection_bookmarks_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.researchsphere_collection_bookmarks
    ADD CONSTRAINT researchsphere_collection_bookmarks_pkey PRIMARY KEY (id);


--
-- Name: researchsphere_collections researchsphere_collections_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.researchsphere_collections
    ADD CONSTRAINT researchsphere_collections_pkey PRIMARY KEY (id);


--
-- Name: researchsphere_departments researchsphere_departments_code_unique; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.researchsphere_departments
    ADD CONSTRAINT researchsphere_departments_code_unique UNIQUE (code);


--
-- Name: researchsphere_departments researchsphere_departments_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.researchsphere_departments
    ADD CONSTRAINT researchsphere_departments_pkey PRIMARY KEY (id);


--
-- Name: researchsphere_paper_activity researchsphere_paper_activity_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.researchsphere_paper_activity
    ADD CONSTRAINT researchsphere_paper_activity_pkey PRIMARY KEY (id);


--
-- Name: researchsphere_paper_citations researchsphere_paper_citations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.researchsphere_paper_citations
    ADD CONSTRAINT researchsphere_paper_citations_pkey PRIMARY KEY (id);


--
-- Name: researchsphere_paper_comments researchsphere_paper_comments_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.researchsphere_paper_comments
    ADD CONSTRAINT researchsphere_paper_comments_pkey PRIMARY KEY (id);


--
-- Name: researchsphere_paper_contents researchsphere_paper_contents_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.researchsphere_paper_contents
    ADD CONSTRAINT researchsphere_paper_contents_pkey PRIMARY KEY (id);


--
-- Name: researchsphere_paper_embeddings researchsphere_paper_embeddings_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.researchsphere_paper_embeddings
    ADD CONSTRAINT researchsphere_paper_embeddings_pkey PRIMARY KEY (id);


--
-- Name: researchsphere_paper_versions researchsphere_paper_versions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.researchsphere_paper_versions
    ADD CONSTRAINT researchsphere_paper_versions_pkey PRIMARY KEY (id);


--
-- Name: researchsphere_papers researchsphere_papers_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.researchsphere_papers
    ADD CONSTRAINT researchsphere_papers_pkey PRIMARY KEY (id);


--
-- Name: researchsphere_reviews researchsphere_reviews_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.researchsphere_reviews
    ADD CONSTRAINT researchsphere_reviews_pkey PRIMARY KEY (id);


--
-- Name: researchsphere_uploads researchsphere_uploads_object_path_unique; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.researchsphere_uploads
    ADD CONSTRAINT researchsphere_uploads_object_path_unique UNIQUE (object_path);


--
-- Name: researchsphere_uploads researchsphere_uploads_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.researchsphere_uploads
    ADD CONSTRAINT researchsphere_uploads_pkey PRIMARY KEY (id);


--
-- Name: researchsphere_user_profiles researchsphere_user_profiles_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.researchsphere_user_profiles
    ADD CONSTRAINT researchsphere_user_profiles_pkey PRIMARY KEY (id);


--
-- Name: researchsphere_user_profiles researchsphere_user_profiles_user_id_unique; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.researchsphere_user_profiles
    ADD CONSTRAINT researchsphere_user_profiles_user_id_unique UNIQUE (user_id);


--
-- Name: sessions sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT sessions_pkey PRIMARY KEY (sid);


--
-- Name: users users_email_unique; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_unique UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: IDX_session_expire; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_session_expire" ON public.sessions USING btree (expire);


--
-- Name: researchsphere_activity_kind_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX researchsphere_activity_kind_idx ON public.researchsphere_paper_activity USING btree (kind);


--
-- Name: researchsphere_bookmarks_user_paper_uq; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX researchsphere_bookmarks_user_paper_uq ON public.researchsphere_bookmarks USING btree (user_id, paper_id);


--
-- Name: researchsphere_categories_kind_name_uq; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX researchsphere_categories_kind_name_uq ON public.researchsphere_categories USING btree (kind, name);


--
-- Name: researchsphere_cb_collection_bookmark_uq; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX researchsphere_cb_collection_bookmark_uq ON public.researchsphere_collection_bookmarks USING btree (collection_id, bookmark_id);


--
-- Name: researchsphere_collections_user_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX researchsphere_collections_user_idx ON public.researchsphere_collections USING btree (user_id);


--
-- Name: researchsphere_comments_paper_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX researchsphere_comments_paper_idx ON public.researchsphere_paper_comments USING btree (paper_id);


--
-- Name: researchsphere_paper_version_number_uq; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX researchsphere_paper_version_number_uq ON public.researchsphere_paper_versions USING btree (paper_id, version_number);


--
-- Name: researchsphere_papers_department_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX researchsphere_papers_department_idx ON public.researchsphere_papers USING btree (department_id);


--
-- Name: researchsphere_papers_file_hash_uq; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX researchsphere_papers_file_hash_uq ON public.researchsphere_papers USING btree (file_hash);


--
-- Name: researchsphere_papers_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX researchsphere_papers_status_idx ON public.researchsphere_papers USING btree (status);


--
-- Name: researchsphere_papers_year_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX researchsphere_papers_year_idx ON public.researchsphere_papers USING btree (year);


--
-- Name: researchsphere_profiles_role_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX researchsphere_profiles_role_idx ON public.researchsphere_user_profiles USING btree (role);


--
-- Name: researchsphere_reviews_paper_created_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX researchsphere_reviews_paper_created_idx ON public.researchsphere_reviews USING btree (paper_id, created_at);


--
-- Name: researchsphere_uploads_user_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX researchsphere_uploads_user_idx ON public.researchsphere_uploads USING btree (user_id);


--
-- Name: researchsphere_bookmarks researchsphere_bookmarks_paper_id_researchsphere_papers_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.researchsphere_bookmarks
    ADD CONSTRAINT researchsphere_bookmarks_paper_id_researchsphere_papers_id_fk FOREIGN KEY (paper_id) REFERENCES public.researchsphere_papers(id) ON DELETE CASCADE;


--
-- Name: researchsphere_bookmarks researchsphere_bookmarks_user_id_users_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.researchsphere_bookmarks
    ADD CONSTRAINT researchsphere_bookmarks_user_id_users_id_fk FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: researchsphere_collection_bookmarks researchsphere_collection_bookmarks_bookmark_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.researchsphere_collection_bookmarks
    ADD CONSTRAINT researchsphere_collection_bookmarks_bookmark_id_fkey FOREIGN KEY (bookmark_id) REFERENCES public.researchsphere_bookmarks(id) ON DELETE CASCADE;


--
-- Name: researchsphere_collection_bookmarks researchsphere_collection_bookmarks_collection_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.researchsphere_collection_bookmarks
    ADD CONSTRAINT researchsphere_collection_bookmarks_collection_id_fkey FOREIGN KEY (collection_id) REFERENCES public.researchsphere_collections(id) ON DELETE CASCADE;


--
-- Name: researchsphere_collections researchsphere_collections_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.researchsphere_collections
    ADD CONSTRAINT researchsphere_collections_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: researchsphere_paper_activity researchsphere_paper_activity_paper_id_researchsphere_papers_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.researchsphere_paper_activity
    ADD CONSTRAINT researchsphere_paper_activity_paper_id_researchsphere_papers_id FOREIGN KEY (paper_id) REFERENCES public.researchsphere_papers(id) ON DELETE CASCADE;


--
-- Name: researchsphere_paper_activity researchsphere_paper_activity_user_id_users_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.researchsphere_paper_activity
    ADD CONSTRAINT researchsphere_paper_activity_user_id_users_id_fk FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: researchsphere_paper_citations researchsphere_paper_citations_cited_paper_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.researchsphere_paper_citations
    ADD CONSTRAINT researchsphere_paper_citations_cited_paper_id_fkey FOREIGN KEY (cited_paper_id) REFERENCES public.researchsphere_papers(id) ON DELETE SET NULL;


--
-- Name: researchsphere_paper_citations researchsphere_paper_citations_citing_paper_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.researchsphere_paper_citations
    ADD CONSTRAINT researchsphere_paper_citations_citing_paper_id_fkey FOREIGN KEY (citing_paper_id) REFERENCES public.researchsphere_papers(id) ON DELETE CASCADE;


--
-- Name: researchsphere_paper_comments researchsphere_paper_comments_paper_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.researchsphere_paper_comments
    ADD CONSTRAINT researchsphere_paper_comments_paper_id_fkey FOREIGN KEY (paper_id) REFERENCES public.researchsphere_papers(id) ON DELETE CASCADE;


--
-- Name: researchsphere_paper_comments researchsphere_paper_comments_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.researchsphere_paper_comments
    ADD CONSTRAINT researchsphere_paper_comments_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: researchsphere_paper_contents researchsphere_paper_contents_paper_version_id_researchsphere_p; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.researchsphere_paper_contents
    ADD CONSTRAINT researchsphere_paper_contents_paper_version_id_researchsphere_p FOREIGN KEY (paper_version_id) REFERENCES public.researchsphere_paper_versions(id) ON DELETE CASCADE;


--
-- Name: researchsphere_paper_embeddings researchsphere_paper_embeddings_paper_version_id_researchsphere; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.researchsphere_paper_embeddings
    ADD CONSTRAINT researchsphere_paper_embeddings_paper_version_id_researchsphere FOREIGN KEY (paper_version_id) REFERENCES public.researchsphere_paper_versions(id) ON DELETE CASCADE;


--
-- Name: researchsphere_paper_versions researchsphere_paper_versions_paper_id_researchsphere_papers_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.researchsphere_paper_versions
    ADD CONSTRAINT researchsphere_paper_versions_paper_id_researchsphere_papers_id FOREIGN KEY (paper_id) REFERENCES public.researchsphere_papers(id) ON DELETE CASCADE;


--
-- Name: researchsphere_papers researchsphere_papers_department_id_researchsphere_departments_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.researchsphere_papers
    ADD CONSTRAINT researchsphere_papers_department_id_researchsphere_departments_ FOREIGN KEY (department_id) REFERENCES public.researchsphere_departments(id) ON DELETE RESTRICT;


--
-- Name: researchsphere_papers researchsphere_papers_uploaded_by_id_users_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.researchsphere_papers
    ADD CONSTRAINT researchsphere_papers_uploaded_by_id_users_id_fk FOREIGN KEY (uploaded_by_id) REFERENCES public.users(id) ON DELETE RESTRICT;


--
-- Name: researchsphere_reviews researchsphere_reviews_paper_id_researchsphere_papers_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.researchsphere_reviews
    ADD CONSTRAINT researchsphere_reviews_paper_id_researchsphere_papers_id_fk FOREIGN KEY (paper_id) REFERENCES public.researchsphere_papers(id) ON DELETE CASCADE;


--
-- Name: researchsphere_reviews researchsphere_reviews_reviewer_id_users_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.researchsphere_reviews
    ADD CONSTRAINT researchsphere_reviews_reviewer_id_users_id_fk FOREIGN KEY (reviewer_id) REFERENCES public.users(id) ON DELETE RESTRICT;


--
-- Name: researchsphere_uploads researchsphere_uploads_user_id_users_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.researchsphere_uploads
    ADD CONSTRAINT researchsphere_uploads_user_id_users_id_fk FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: researchsphere_user_profiles researchsphere_user_profiles_department_id_researchsphere_depar; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.researchsphere_user_profiles
    ADD CONSTRAINT researchsphere_user_profiles_department_id_researchsphere_depar FOREIGN KEY (department_id) REFERENCES public.researchsphere_departments(id) ON DELETE SET NULL;


--
-- Name: researchsphere_user_profiles researchsphere_user_profiles_user_id_users_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.researchsphere_user_profiles
    ADD CONSTRAINT researchsphere_user_profiles_user_id_users_id_fk FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

